#{extends 'base.html' /}
#{set title:'RIIGIKOGU VALIMINE 201' /}

<div class="cont"><h1>Valimistest osavõtt</h1>

<div class="dataTableWrap" style="width: 98%;">
<table class="dataTable" cellpadding="0" cellspacing="0">
<thead>
<tr>
    <td class="border" rowspan="2">Maakond, linn</td>
    <td class="border" colspan="3" align="center">Eelhääletamine %</td>
    <td class="border" colspan="3" align="center">Valimispäev %</td>
    <td class="border" rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="tCenter ">6. päev enne VP</td>
    <td class="tCenter ">5. päev enne VP</td>
    <td class="tCenter border">4. päev enne VP</td>
    <td class="tCenter ">VP 12:00</td>
    <td class="tCenter ">VP 16:00</td>
    <td class="tCenter border">VP 20:00</td>
</tr>
</thead>
<tbody>
<tr>
    <th class="border">Harju maakond</th>
    <td class="num ">2,7</td>
    <td class="num ">6,4</td>
    <td class="num border">11,2</td>
    <td class="num ">43,3</td>
    <td class="num ">59,0</td>
    <td class="num border">68,7</td>
    <td>
        <div class="full"><span class="part" style="width: 68.7%;"><em
                class="proc">68,7%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Hiiu maakond</th>
    <td class="num ">2,6</td>
    <td class="num ">6,8</td>
    <td class="num border">12,8</td>
    <td class="num ">42,2</td>
    <td class="num ">53,4</td>
    <td class="num border">60,1</td>
    <td>
        <div class="full"><span class="part" style="width: 60.1%;"><em
                class="proc">60,1%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Ida-Viru maakond</th>
    <td class="num ">2,3</td>
    <td class="num ">5,1</td>
    <td class="num border">8,7</td>
    <td class="num ">28,5</td>
    <td class="num ">46,8</td>
    <td class="num border">55,4</td>
    <td>
        <div class="full"><span class="part" style="width: 55.4%;"><em
                class="proc">55,4%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Jõgeva maakond</th>
    <td class="num ">3,6</td>
    <td class="num ">9,0</td>
    <td class="num border">15,6</td>
    <td class="num ">38,6</td>
    <td class="num ">51,0</td>
    <td class="num border">58,1</td>
    <td>
        <div class="full"><span class="part" style="width: 58.1%;"><em
                class="proc">58,1%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Järva maakond</th>
    <td class="num ">3,2</td>
    <td class="num ">7,8</td>
    <td class="num border">13,2</td>
    <td class="num ">37,9</td>
    <td class="num ">51,4</td>
    <td class="num border">58,0</td>
    <td>
        <div class="full"><span class="part" style="width: 58%;"><em
                class="proc">58,0%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Lääne maakond</th>
    <td class="num ">3,0</td>
    <td class="num ">6,8</td>
    <td class="num border">11,2</td>
    <td class="num ">40,5</td>
    <td class="num ">52,6</td>
    <td class="num border">59,6</td>
    <td>
        <div class="full"><span class="part" style="width: 59.6%;"><em
                class="proc">59,6%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Lääne-Viru maakond</th>
    <td class="num ">3,1</td>
    <td class="num ">7,6</td>
    <td class="num border">12,6</td>
    <td class="num ">34,8</td>
    <td class="num ">50,6</td>
    <td class="num border">58,3</td>
    <td>
        <div class="full"><span class="part" style="width: 58.3%;"><em
                class="proc">58,3%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Põlva maakond</th>
    <td class="num ">2,8</td>
    <td class="num ">7,9</td>
    <td class="num border">13,7</td>
    <td class="num ">38,1</td>
    <td class="num ">50,2</td>
    <td class="num border">59,8</td>
    <td>
        <div class="full"><span class="part" style="width: 59.8%;"><em
                class="proc">59,8%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Pärnu maakond</th>
    <td class="num ">2,1</td>
    <td class="num ">5,5</td>
    <td class="num border">9,7</td>
    <td class="num ">33,4</td>
    <td class="num ">48,2</td>
    <td class="num border">58,5</td>
    <td>
        <div class="full"><span class="part" style="width: 58.5%;"><em
                class="proc">58,5%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Rapla maakond</th>
    <td class="num ">2,7</td>
    <td class="num ">6,8</td>
    <td class="num border">12,1</td>
    <td class="num ">37,2</td>
    <td class="num ">51,5</td>
    <td class="num border">60,1</td>
    <td>
        <div class="full"><span class="part" style="width: 60.1%;"><em
                class="proc">60,1%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Saare maakond</th>
    <td class="num ">2,5</td>
    <td class="num ">6,5</td>
    <td class="num border">11,9</td>
    <td class="num ">37,0</td>
    <td class="num ">49,1</td>
    <td class="num border">56,3</td>
    <td>
        <div class="full"><span class="part" style="width: 56.3%;"><em
                class="proc">56,3%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Tartu maakond</th>
    <td class="num ">2,3</td>
    <td class="num ">5,9</td>
    <td class="num border">10,4</td>
    <td class="num ">36,9</td>
    <td class="num ">50,9</td>
    <td class="num border">60,7</td>
    <td>
        <div class="full"><span class="part" style="width: 60.7%;"><em
                class="proc">60,7%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Valga maakond</th>
    <td class="num ">2,6</td>
    <td class="num ">6,8</td>
    <td class="num border">11,6</td>
    <td class="num ">36,0</td>
    <td class="num ">49,2</td>
    <td class="num border">57,0</td>
    <td>
        <div class="full"><span class="part" style="width: 57%;"><em
                class="proc">57,0%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Viljandi maakond</th>
    <td class="num ">3,0</td>
    <td class="num ">7,3</td>
    <td class="num border">12,7</td>
    <td class="num ">37,7</td>
    <td class="num ">51,5</td>
    <td class="num border">58,6</td>
    <td>
        <div class="full"><span class="part" style="width: 58.6%;"><em
                class="proc">58,6%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Võru maakond</th>
    <td class="num ">2,3</td>
    <td class="num ">6,6</td>
    <td class="num border">11,8</td>
    <td class="num ">32,2</td>
    <td class="num ">47,7</td>
    <td class="num border">57,0</td>
    <td>
        <div class="full"><span class="part" style="width: 57%;"><em
                class="proc">57,0%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Tallinn</th>
    <td class="num ">3,0</td>
    <td class="num ">6,9</td>
    <td class="num border">11,6</td>
    <td class="num ">39,2</td>
    <td class="num ">59,5</td>
    <td class="num border">69,8</td>
    <td>
        <div class="full"><span class="part" style="width: 69.8%;"><em
                class="proc">69,8%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Tartu linn</th>
    <td class="num ">4,1</td>
    <td class="num ">10,1</td>
    <td class="num border">17,5</td>
    <td class="num ">40,2</td>
    <td class="num ">55,5</td>
    <td class="num border">64,2</td>
    <td>
        <div class="full"><span class="part" style="width: 64.2%;"><em
                class="proc">64,2%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">E-hääled</th>
    <td class="num ">9,3</td>
    <td class="num ">11,6</td>
    <td class="num border">15,4</td>
    <td class="num "></td>
    <td class="num "></td>
    <td class="num border"></td>
    <td>
        <div class="full"><span class="part" style="width: 15.4%;"><em
                class="proc">15,4%</em></span></div>
    </td>
</tr>
<tr>
    <th class="border">Eesti Vabariik kokku</th>
    <td class="num ">12,2</td>
    <td class="num ">18,6</td>
    <td class="num border">27,4</td>
    <td class="num ">37,6</td>
    <td class="num ">53,9</td>
    <td class="num border">63,0</td>
    <td>
        <div class="full"><span class="part" style="width: 63%;"><em
                class="proc">63,0%</em></span></div>
    </td>
</tr>
</tbody>
</table>
</div>
</div>