#{extends 'base.html' /}
#{set title:'RIIGIKOGU VALIMINE 201' /}

<div class="cont"><h1>Valimistest osavõtt</h1>

<ul>
#{list items:parties, as:'party'}
    <li><span class="${party_parity}">${party_index}. ${party.name}</span></li>
#{/list}
</ul>


<div class="dataTableWrap" style="width: 98%;">
<table class="dataTable" cellpadding="0" cellspacing="0">
<thead>
<tr>
    <td class="border" rowspan="2">Maakond, linn</td>
    <td class="border" colspan="3" align="center">Eelhääletamine %</td>
    <td class="border" colspan="3" align="center">Valimispäev %</td>
    <td class="border" rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="tCenter ">6. päev enne VP</td>
    <td class="tCenter ">5. päev enne VP</td>
    <td class="tCenter border">4. päev enne VP</td>
    <td class="tCenter ">VP 12:00</td>
    <td class="tCenter ">VP 16:00</td>
    <td class="tCenter border">VP 20:00</td>
</tr>
</thead>
<tbody>
#{list items:participation, as:'participation'}
<tr>
    <th class="border">${participation.constituency.name}</th>
    <td class="num ">2,7</td>
    <td class="num ">6,4</td>
    <td class="num border">11,2</td>
    <td class="num ">43,3</td>
    <td class="num ">59,0</td>
    <td class="num border">68,7</td>
    <td>
        <div class="full"><span class="part" style="width: 68.7%;">
            <em class="proc">${participation.totalVotes}</em></span>
        </div>
    </td>
</tr>
#{/list}

</tbody>
</table>
</div>
</div>