#{extends 'base.html' /}
#{set title:'RIIGIKOGU VALIMINE 201' /}

<div class="cont"><h1>Valimistest osavõtt</h1>

<div class="dataTableWrap" style="width: 98%;">
<table class="dataTable" cellpadding="0" cellspacing="0">
<thead>
<tr>
    <td class="border" rowspan="2">Maakond, linn</td>
    <td class="border" colspan="3" align="center">Eelhääletamine %</td>
    <td class="border" colspan="3" align="center">Valimispäev %</td>
    <td class="border" rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="tCenter ">6. päev enne VP</td>
    <td class="tCenter ">5. päev enne VP</td>
    <td class="tCenter border">4. päev enne VP</td>
    <td class="tCenter ">VP 12:00</td>
    <td class="tCenter ">VP 16:00</td>
    <td class="tCenter border">VP 20:00</td>
</tr>
</thead>
<tbody>
#{list items:participation, as:'participationPerConstituency'}
<tr>
    <th class="border">${participationPerConstituency.constituency.name}</th>
    #{list items:participationPerConstituency.participationPerDay, as:'perDay'}

        #{if perDay_isLast}
            <td class="num">
            <div class="full"><span style="width: 68.7%;" class="part"><em class="proc">${perDay.format('##,00%')}</em></span></div>
            </td>
        #{/if}
        #{else}
            <td>
            ${perDay.format('##,##%')}
            </td>
        #{/else}


    #{/list}
</tr>
#{/list}

</tbody>
</table>
</div>
</div>